<div style="width: 75%; padding-left: 25%;">
  <form (ngSubmit)="convertCriptocurrencies()" >
    <div class="form-group">
      <label for="exampleFormControlSelect2">From criptocurrencies:</label>
      <div class="form-group">
        <select multiple class="form-control" id="selectBoxFrom">
          <option *ngFor="let criptocurrency of FROM_VALUTES">{{criptocurrency}}</option>
        </select>
      </div>

      <label for="exampleFormControlSelect2">To:</label>
      <div class="form-group">
        <select multiple class="form-control" id="selectBoxTo">
          <option *ngFor="let criptocurrency of TO_VALUTES" value={{criptocurrency}}>{{criptocurrency}}</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-success">Convert</button>

  </form>


  <table [hidden]="hideData">
    <thead>
      <th>VALUTE</th>
      <th *ngFor="let valuteTo of valutesTo">{{valuteTo}}</th>
    </thead>
      <tbody>
        <tr *ngFor="let valuteFrom of valutesFrom">
          <td>{{valuteFrom}}</td>
          <td *ngFor="let vrijednost of result[valuteFrom]">
              {{vrijednost  }}
          </td>
        </tr>
      </tbody>
  </table>

</div>